<h1 class="red">{{ tagline }}</h1>
<div id="status">
</div>
<p>{{status}}</p>
<p>Choose one of the following actions:</p>
<p><button ng-click="getLocation(false)">Load current user location</button><br>
</p>
<p>
    <button ng-click="getLocation(true)">Find Events nearby and show them</button>
<br>
</p>
<p>Deine Location ist (Lat: {{lat}} | Long: {{long}})</p>
<button ng-click="getNearbyCities()">Find nearest cities</button>


<!--<div>
    <h2>Geocoding</h2>

    <input ng-model="address">
    <button ng-click="geocode()">Geocode!</button>

    <p>Lat: {{lat}}, Long: {{long}}</p>
</div>-->

